.wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}

.wrapper-box {
  width: 1200px;
  padding: 22px;
  margin-top: 20px;
  background-color: rgb(126, 126, 126);
  height: 2800px;
  border-radius: 20px;

}
