.wrapper {
  justify-content: center;
  align-items: center;
  display: flex;


}

.wrapper-box {
  border: solid rgb(133, 133, 133);
  padding: 22px;
  width:1200px;
  max-width:80%;
  height: 1200px;

}

.wrapper-mainContent {
  padding: 22px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.btn {
  padding: 20px;
  font-size: 20px;
}

.btn:hover {
  color: rgb(216, 216, 216);
  background-color: rgb(58, 58, 58);
}
